cartopy
cfgrib
cmocean
cmaps
copernicusmarine
dask
ecmwf-opendata
geopandas
git-filter-repo
ipdb
ipykernel
ipython
ipywidgets
jupyter
matplotlib
natsort
nbconvert
nbformat
netcdf4
numpy
pandas
repackage
scipy
seaborn
siphon
shapely
utide
windrose
xarray
xgcm
xroms
seawater
